<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    
    <body>
        <div class="ajaxbg">
            <div class="ajaxinner">
                <h3>You are now being redirected to paypal...</h3>
                <img src="/images/ajax-loader.gif" alt=""/>
            </div>
        </div>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>

                    <% pages.forEach(function(page){ %>
                        <% if (page.slug == "home") { %>                                                  
                        <li class="nav-item active">
                            <a class="nav-link" href="/products"><i class="fas fa-home me-1"></i><%= page.title %> </a>
                        </li>
                        <% } else {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/<%= page.slug %>"><%= page.title %></a>
                        </li>
                        <% } %>
                        <% }); %>
                        
              
                        
                        <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout"><i class="far fa-calendar-alt"></i>Hi, <%= user.username %> ( Đăng xuất )</a>
                    </li>
                    <% } else {%>
                    <li class="nav-item">
                        <a class="nav-link"  href="/users/register/"><i class="far fa-chart-bar"></i>Đăng Ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login"><i class="far fa-copy"></i>Đăng Nhập</a>
                    </li>
                    <% } %>
                    <% if (user && user.admin == 1) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Khu Vực Quản Trị</a>
                    </li>
                    <% }%>  
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" >
                        <% if ( user && user.admin == 0  || user && user.admin == 1) { %>
                            <a class="nav-link" href="/cart/checkout"><i class="fa-solid fa-cart-shopping"></i> (
                                <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                                <% } else {%>npm
                                0
                                <% } %>
                            )</a>
                            <% }%> 
                        
                    </li> 
                </ul>
            </div>
        </nav>
       
     

        <div class="container">
            <%- messages('messages', locals) %>
      
            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>
            <br><br>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <h3>Phân loại</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/products">Tất cả sản phẩm</a></li>
                        <% categories.forEach(function(c){ %>
                            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-8">
                    
                    <br>
               
